<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Form</title>
</head>
<body>
	<div id="content">
	<div class="form-holder">
		
		Current element: <span data-bind="text: index() + 1"></span>
	        <div class=form>
	         <h1 data-bind="text: curElement().projectname"></h1>
	         <div class="left block half">
	           <p><span class="bold left block half border-right">Project Manager:</span><span class="block left" data-bind="text: curElement().projectmanager"></span></p>
	           <p><span class="bold left block half border-right">Customer:</span><span class="block left" data-bind="text: curElement().customer"></span></p>
	           <p><span class="bold left block half border-right">Start Date:</span><span class="block left" data-bind="text: curElement().StartDate"></span></p>
	           <p><span class="bold left block half border-right">End Date:</span><span class="block left" data-bind="text: curElement().EndDate"></span></p>
	          </div>
	          <div class="left block half">
	            <p><span class="bold left block half border-right">Time Spent:</span><span class="block left" data-bind="text: curElement().timespent"></span></p>
	            <p><span class="bold left block half border-right">Progress:</span><span class="block left" data-bind="text: curElement().progress"></span></p>
	            <p><span class="bold left block half border-right">Status:</span><span class="block left" data-bind="text: curElement().status"></span></p>
			  </div>
			  <div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>
</html>