<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Form</title>
</head>
<body>
	<div id="wrapper">
	<div class="form-holder">
		Current element: <h1 data-bind="text: index() + 1">		</h1>
		<hr>
			<div class="form">
                <h1 data-bind="text: curElement().summary"></h1>
                <div class="mgb20">
	                <div class="left block half">
	                	<p><span class="bold left block half border-right">Project:</span><span class="block left" data-bind="text: curElement().projectname"></span></p>
	                	<p><span class="bold left block half border-right">Assigned to:</span><span class="block left" data-bind="text: curElement().assignedto"></span></p>
	                </div>
	                <div class="left block half">
	                	<p><span class="bold left block half border-right">Project Stage:</span><span class="block left" data-bind="text: curElement().stage"></span></p>
	                	<p><span class="bold left block half border-right">Assigned to:</span><span class="block left" data-bind="text: curElement().assignedto"></span></p>
				    </div>
				    <div class="clearfix"></div>
			    </div>
			    <div>
			   		 <span>Description</span>
			    </div>
			</div>
		
	</div>
    </div>
</body>
</html>