<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List</title>
</head>
<body>
	<div id="content">
        <table class="list">
            <thead>
                <tr>
                    <th>Task Summary</th>
                    <th>Project</th>
                    <th>Assigned to</th>
                    <th>Stage</th>
                    <th>Starting Date</th>
                    <th>Ending Date</th>
                    <th>Progress (%)</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:data">
                <tr>
                    <td data-bind="text:summary"></td>
                    <td data-bind="text:projectname"></td>
                    <td data-bind="text:assignedto"></td>
                    <td data-bind="text:stage"></td>
                    <td data-bind="text:StartDate"></td>
                    <td data-bind="text:EndDate"></td>
                    <td data-bind="text:progress"></td>
                </tr>
            </tbody>
        </table>

        <!--<div data-bind="foreach: data">
			<h3 data-bind="text: summary"></h3>

			<hr>
		</div>-->
	</div>	
</body>
</html>