<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List</title>
</head>
<body>
	<div id="content">
		<table class="list">
		  <thead>
                <tr>
                    <th>Login</th>
                    <th>e-mail</th>
                    <th>Language</th>
                    <th>Date</th>
                </tr>
            </thead>
              <tbody data-bind="foreach:data">
                <tr>
                    <td data-bind="text: ulogin"></td>
                    <td data-bind="text: uemail"></td>
                    <td data-bind="text: ulang"></td>
                    <td data-bind="text: ucreated"></td>
                </tr>
            </tbody>
            </table>
		<!-- <div data-bind="foreach: data">
		</div>
		</div> -->
	</div>	
</body>
</html>